<form [formGroup]="reservationForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choisis une date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="date"></mat-datepicker>
  </mat-form-field>
  <div><mat-form-field appearance="fill">
    <mat-label>Heure d'arrivée</mat-label>
    <mat-select placeholder="heure" formControlName="time">
      <mat-option *ngFor="let to of timeOptions" [value]="to">
        {{to}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombre de personnes</mat-label>
      <mat-select placeholder="heure" formControlName="people">
        <mat-option *ngFor="let po of peopleOptions" [value]="po">
          {{po}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
{{reservationForm.value|json}}
<form #f="ngForm" (submit)="finaliseReservation(f)">
  <mat-form-field >
  <input matInput type="text" name="firstNameL" [(ngModel)]="client.firstName" placeholder="Prénom"> <!-- le name est requis pour que angular puisse faire la liaison entre le template et le ts. Sinon la parenthèse pour communiquer du template vers typescript et crochet pour faire linverse donc on a du double binnding-->
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="client.lastName" name="lastName" placeholder="nom" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="client.email" name="email" placeholder="email" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="client.tel" name="telephone" placeholder="téléphone" required />
  </mat-form-field>
  <button mat-button type="submit">reserver</button>
</form> <!--le '#' nous permet de creer une variabme cote template et qui prends pour valeur ngForm le formGroup fourni par angular-->
{{f.controls['firstNameL']?.value}}
{{f.controls['lastName']?.value}}
{{f.controls['email']?.value}}
{{f.controls['telephone']?.value}}





