<mat-card>
  <mat-card-header>
  <mat-card-title>Bienvenue chez CAMARA Restaurant</mat-card-title>
  <mat-card-subtitle>Gratuit si vous finissez un poulet entier</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="barbacue" alt="Un bon barbuc">
  <mat-card-content>Une bonne grillade Sénégalaise, les conditions sont les suivantes:
  Si vous finissez un poulet entier, l'addition est gratuite, si vous finissez un agneau, vous avez 1 mois offert de dejeuner.
  Goutez à la teranga Sénégalaise!</mat-card-content>
</mat-card>
